<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Video Player</title>
  </head>
  <body>
    <div id="app">
      <video :src="videoUrl" controls autoplay></video>

      <ul>
        <li v-for="file in files" :key="file.magnet">
          {{file.fileName}}
          <button @click="play(file)">Play</button>
        </li>
      </ul>
    </div>
  </body>
  <script>
    const { createApp, ref, reactive, computed, onMounted } = Vue;

    createApp({
      setup() {
        const message = ref("Hello vue!");
        let activeVideo = reactive({});
        const videoUrl = ref("");
        const files = ref([
          {
            magnet: "d50ba99f0c3cb2f3ae4483262a3ef5ab9e722eba",
            fileName: "The.Fearway.2023.720p.BluRay.DD.5.1.x264-MegaPeer.mkv",
          },
          {
            magnet: "d1ffb01598567d205b5c150b8b9c46eeb87d1b55",
            fileName:
              "Убийство Салазара.2016.BDRemux.1080p.R.G. Goldenshara.mkv",
          },
        ]);

        // загруза и воспроизведение файла
        async function play(file) {
          const response = await axios.get(`/stream/add/${file.magnet}`);
          activeVideo = file;
          activeVideo.fileName
            ? (videoUrl.value = `/stream/${activeVideo.magnet}/${activeVideo.fileName}`)
            : "";
          console.log(response.data);
        }

        onMounted(() => {
          console.log(activeVideo.value);
        });

        return {
          videoUrl,
          play,
          message,
          files,
          activeVideo,
        };
      },
    }).mount("#app");
  </script>
</html>
