<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Video Player</title>
  </head>
  <body>
    <div id="app">
      <video :src="videoUrl" controls autoplay></video>
      <hr />
      {{videoUrl}}
      <input v-model="searchTerm" placeholder="поиск" type="search" />
      <button @click="findMovie">Найти</button>
      <ul>
        <li v-for="file in files" :key="file.magnet">
          {{file.title}}
          <button @click="play(file)">Play</button>
        </li>
      </ul>
    </div>
  </body>
  <script>
    const { createApp, ref, onMounted } = Vue;

    createApp({
      setup() {
        const message = ref("Hello vue!");
        let activeVideo = ref({});
        const searchTerm = ref("");
        const videoUrl = ref("");
        const files = ref([]);

        // загруза и воспроизведение файла
        async function play(file) {
          const response = await axios.get(`/stream/add/${file.magnet}`);
          const data = await response.data;

          activeVideo.value = {
            magnet: file.magnet,
            fileName: data[0].data,
          };

          activeVideo.value.fileName
            ? (videoUrl.value = `/stream/${activeVideo.value.magnet}/${activeVideo.value.fileName}`)
            : "";

          console.log(videoUrl.value);
        }

        const findMovie = async () => {
          const response = await axios.get(
            `/movies/search?searchTerm=${searchTerm.value}`
          );
          files.value = response.data;
        };

        // получаем списов добавленных фильмов из БД для отрисовки
        const getMyMovies = async () => {
          const response = await axios.get(`/movies`);
          files.value = response.data;
        };

        onMounted(() => {
          getMyMovies();
        });

        return {
          findMovie,
          searchTerm,
          videoUrl,
          play,
          message,
          files,
          activeVideo,
        };
      },
    }).mount("#app");
  </script>
</html>
